@import "tailwindcss";

:root {
  --primary: #0f2bff;
}

@theme inline {
  --color-primary: --var(--primary)
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: #fff;
  }
}
